.header-row{
	text-align:center;
	font-family: "Iowan Old Style";

}
.header{
	padding: 0px;
}
.header-news{
	font-size:84px;
	margin-top:23px;
	margin-bottom:23px;
}
.ellipse-image{
	margin-bottom:15px;
}
.horizontal-line{
	border: 1px solid #3C3030;
	margin-bottom: 5px;
	
}
@media (max-width:576px){
	.header-news{
		font-size:35px;
		margin-top:23px;
	}
	.ellipse-image{
		width:25px;
		margin-bottom:5px;
	}
}
.search-box{
	height:60px;
	margin-top:59px;
	text-align:center;
	margin-bottom: 141px;
	border:none;
}
.button{
	width:61px;
	height:61px;
	background-color:#E84848;
	font-family: "Iowan Old Style";
	border: none;
	color:#FDFDFA;
	font-size:20px;
}
input{
	height:61px;
	padding:0px;
	padding-left:31px;
	font-family: "Iowan Old Style";
	font-size:20px;
}
.inside-search{
	position:absolute;
	height:32px;
	width:32px;
	margin-top:18px;
}
.image-search{
	width: 59px;
	height:28px;
}
@media (min-width:1200px){
	.container{
		width:936px;
	}
}
.box{
	height:408px;
	border: 1px solid #3C3030;
	margin-bottom:90px;
}
@media (max-width:576px){
	.box{
		margin-bottom:69px;
	}
}
.footer-row{
	height:160px;
	border: 1px solid #3C3030;
	text-align:center;
	font-size:16px;
	font-family:"Inria Serif";
	padding-top:73px;
}
.footer-ellipse{
	height:8px;
	width:8px;
}


